.navbar-default {
  background-color: #aed6c4;
  border-color: #1b9850;
}
.navbar-default .navbar-brand {
  color: #407a70;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f9f1f1;
}
.navbar-default .navbar-text {
  color: #407a70;
}
.navbar-default .navbar-nav > li > a {
  color: #407a70;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f9f1f1;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f9f1f1;
  background-color: #1b9850;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f9f1f1;
  background-color: #1b9850;
}
.navbar-default .navbar-toggle {
  border-color: #1b9850;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1b9850;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #407a70;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #407a70;
}
.navbar-default .navbar-link {
  color: #407a70;
}
.navbar-default .navbar-link:hover {
  color: #f9f1f1;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: #407a70;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	color: #f9f1f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
	color: #f9f1f1;
	background-color: #1b9850;
  }
}
